@import "_mixins"; /* 
	&display=swap
	&subset=cyrillic-ext 
	*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	/* по умолчанию */
	/* font-size: 16px;  */
}
body {
	background-color: #191919;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.main {
	flex-grow: 1;
	._ibg {
		position: relative;
		img {
			object-fit: cover;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
}
[class*="__container"] {
	max-width: 1140px;
	margin: 0px auto;
	padding: 0px 15px;
}

/* №1 */
@media (max-width: 1140px) {
	[class*="__container"] {
		/* max-width: 970px; */
	}
}
/* №2 */
@media (max-width: 991.98px) {
	[class*="__container"] {
		/* max-width: 750px; */
	}
}
/* №3 */
@media (max-width: 767.98px) {
	[class*="__container"] {
		/* max-width: none; */
	}
}
.dishes {
	margin-bottom: 60px;
	&__container {
	}

	&__main-title {
		padding: 60px 0px;
	}

	&__text {
		position: relative;
		font-family: "Helvetica";
		font-style: normal;
		font-weight: 900;
		font-size: 100px;
		line-height: 150px;
		text-align: center;
		letter-spacing: 0.2em;
		color: #303030;
		@media (max-width: 600px) {
			position: relative;
			font-family: "Helvetica";
			font-style: normal;
			font-weight: 900;
			font-size: 60px;
			line-height: 100px;
			text-align: center;
			letter-spacing: 0.2em;
			color: #303030;
		}
		&::before {
			content: "Dish Of The Day";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 25px;
			left: 0px;
			font-family: "Helvetica";
			font-style: normal;
			font-weight: 400;
			font-size: 36px;
			line-height: 90px;
			text-align: center;
			letter-spacing: 0.2em;
			color: #d9d9d9;
			@media (max-width: 600px) {
				content: "Dish Of The Day";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 20px;
				left: 0px;
				font-family: "Helvetica";
				font-style: normal;
				font-weight: 400;
				font-size: 24px;
				line-height: 50px;
				text-align: center;
				letter-spacing: 0.2em;
				color: #d9d9d9;
			}
		}
		&::after {
			content: "";
			width: 60px;
			height: 2px;
			position: absolute;
			top: 140px;
			right: 50%;
			background-color: #34c759;
			@media (max-width: 600px) {
				content: "";
				width: 50px;
				height: 2px;
				position: absolute;
				top: 90px;
				right: 47%;
				background-color: #34c759;
			}
		}
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		row-gap: 30px;
		margin: 0px -15px;
	}

	&__item {
		padding: 0px 15px;
		flex: 1 1 33.333%;
		min-width: 290px;
	}
}
.item-dishes {
	display: flex;
	height: 100%;
	flex-direction: column;
	border-radius: 6px;
	overflow: hidden;

	&__picture {
		padding: 0px 0px 74.28571428571429% 0px;
	}

	&__image {
	}

	&__body {
		flex: 1 1 auto;
		display: flex;
		padding: 30px;
		flex-direction: column;
		background: #252525;
	}

	&__title {
		font-family: "Helvetica";
		font-style: normal;
		font-weight: normal;
		font-size: 32px;
		line-height: 30px;
		color: #d9d9d9;
	}

	&__sub-title {
		font-family: "Helvetica";
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: -0.15px;
		color: #a4a8b2;
		margin-bottom: 20px;
	}

	&__text {
		flex: 1 1 auto;
		font-family: "Helvetica";
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 18px;
		letter-spacing: -0.1625px;
		color: #85878c;
		margin-bottom: 20px;
	}

	&__block {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&__stars {
		display: flex;
		flex-direction: row;
	}

	&__graystar {
	}

	&__score {
		padding: 0px 5px;
		font-family: "Helvetica";
		font-style: normal;
		font-weight: 900;
		font-size: 12px;
		line-height: 30px;
		letter-spacing: 1.5px;
		color: #b3b3b3;
	}

	&__button {
	}

	&__link {
		display: flex;
		padding: 0px 20px 0px 20px;
		font-family: "Helvetica";
		font-style: normal;
		font-weight: 900;
		font-size: 10px;
		line-height: 40px;
		text-align: center;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: rgba(255, 255, 255, 0.5);
		border: 2px solid #303030;
		border-radius: 30px;
		&:hover {
			background: #34c759;
			color: #252525;
			border: 2px solid #252525;
		}
	}
}
.rating {
	position: relative;
	font-size: 25px;
	display: inline-block;
	&::before {
		content: "★★★★★";
		display: block;
		color: #252525;
	}
	&__items {
		position: absolute;
		width: 100%;
		height: 100%;
		top: -3px;
		left: 0;
		display: flex;
		flex-direction: row-reverse;
		overflow: hidden;
	}

	&__item {
		position: absolute;
		width: 0%;
		height: 0%;
		opacity: 0;
		visibility: hidden;
		top: 0;
		left: 0;
		&:checked,
		&:checked ~ .rating__label {
			color: #f9ad3d;
		}
	}

	&__label {
		flex: 0 0 20%;
		height: 100%;
		cursor: pointer;
		color: #4d4d4d;
		&::before {
			content: "★";
			display: block;
			transition: color 0.3s ease 0s;
		}
		&:hover,
		&:hover ~ .rating__label,
		&:checked ~ .rating__label:hover {
			color: #f9ad3d;
		}
	}
}
.recipes {
	margin-bottom: 60px;
	&__container {
	}

	&__main-title {
		margin-bottom: 50px;
	}

	&__main-text {
		position: relative;
		font-family: "Helvetica";
		font-style: normal;
		font-weight: 900;
		font-size: 100px;
		line-height: 150px;
		text-align: center;
		letter-spacing: 0.2em;
		color: #303030;
		@media (max-width: 700px) {
			position: relative;
			font-family: "Helvetica";
			font-style: normal;
			font-weight: 900;
			font-size: 60px;
			line-height: 100px;
			text-align: center;
			letter-spacing: 0.2em;
			color: #303030;
		}
		@media (max-width: 410px) {
			position: relative;
			font-family: "Helvetica";
			font-style: normal;
			font-weight: 900;
			font-size: 45px;
			line-height: 80px;
			text-align: center;
			letter-spacing: 0.2em;
			color: #303030;
		}
		&::before {
			content: "Recipes From Our Chefs";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 25px;
			left: 0px;
			font-family: "Helvetica";
			font-style: normal;
			font-weight: 400;
			font-size: 36px;
			line-height: 90px;
			text-align: center;
			letter-spacing: 0.2em;
			color: #d9d9d9;
			@media (max-width: 700px) {
				content: "Recipes From Our Chefs";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 20px;
				left: 0px;
				font-family: "Helvetica";
				font-style: normal;
				font-weight: 400;
				font-size: 24px;
				line-height: 50px;
				text-align: center;
				letter-spacing: 0.2em;
				color: #d9d9d9;
			}
			@media (max-width: 410px) {
				content: "Recipes From Our Chefs";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 20px;
				left: 0px;
				font-family: "Helvetica";
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 30px;
				text-align: center;
				letter-spacing: 0.2em;
				color: #d9d9d9;
			}
		}
		&::after {
			content: "";
			width: 60px;
			height: 2px;
			position: absolute;
			top: 140px;
			right: 50%;
			background-color: #34c759;
			@media (max-width: 700px) {
				content: "";
				width: 50px;
				height: 2px;
				position: absolute;
				top: 100px;
				right: 47%;
				background-color: #34c759;
			}
			@media (max-width: 410px) {
				content: "";
				width: 40px;
				height: 2px;
				position: absolute;
				top: 80px;
				right: 47%;
				background-color: #34c759;
			}
		}
	}

	&__menu {
		display: flex;
		flex-wrap: wrap;
		row-gap: 30px;
		margin: 0px -15px;
	}

	&__breakfast {
	}

	&__items {
		display: flex;
		flex: 1 1 50%;
		padding: 0px 15px;
		flex-direction: column;
		gap: 30px;
		justify-content: space-between;
	}

	&__item1 {
		padding: 30px 30px 20px 30px;
		background: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;

		&:hover {
			background: rgba(51, 199, 88, 0.493);
			box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
		}
	}

	&__text {
		font-family: "Helvetica";
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 30px;
		color: #ffffff;
		margin-bottom: 10px;
		@media (max-width: 400px) {
			text-align: center;
		}
	}

	&__lunch {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		@media (max-width: 400px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 15px;
		}
	}

	&__block1 {
		display: flex;
		flex-direction: row;
		gap: 15px;
	}

	&__title {
		font-family: "Helvetica";
		font-style: normal;
		font-weight: 900;
		font-size: 10px;
		line-height: 25px;
		padding: 0px 15px;
		letter-spacing: 1.25px;
		text-transform: uppercase;
		color: #ffffff;
		border-radius: 5px;
		background: #000000;
		mix-blend-mode: normal;
		opacity: 0.3;
		text-align: center;
	}

	&__date {
		font-family: "Helvetica";
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 25px;
		color: #b3b3b3;
	}

	&__block2 {
		display: flex;
		flex-direction: row;
		gap: 25px;
	}

	&__view {
		display: flex;
		flex-direction: row;
		gap: 15px;
		align-items: center;
	}

	&__image1 {
		width: 22px;
		height: 15px;
	}

	&__score1 {
		font-family: "Helvetica";
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 30px;
		color: #d8d8d8;
	}

	&__comment {
		display: flex;
		flex-direction: row;
		gap: 15px;
		align-items: center;
	}

	&__image2 {
		width: 20px;
		height: 20px;
	}

	&__score2 {
		font-family: "Helvetica";
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 30px;
		color: #d8d8d8;
	}

	&__item2 {
		padding: 30px 30px 20px 30px;
		background: url("../img/recipes/dinner.jpg") center/cover no-repeat;
		border-radius: 6px;
		overflow: hidden;
		&:hover {
			background: rgba(51, 199, 88, 0.493);
			box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
		}
	}

	&__dinner {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		@media (max-width: 400px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 15px;
		}
	}

	&__item3 {
		padding: 30px 30px 20px 30px;
		background: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		&:hover {
			background: rgba(51, 199, 88, 0.493);
			box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
		}
	}

	&__sweets {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		@media (max-width: 400px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 15px;
		}
	}
}
.breakfast {
	flex: 1 1 50%;
	height: 100%;
	padding: 0px 15px;

	&__block {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		padding: 60px 90px 0px 90px;
		flex: 1 1 auto;
		border-radius: 6px;
		overflow: hidden;
		background: url("../img\/recipes/breakfast.jpg") center/cover no-repeat;
		@media (max-width: 350px) {
			padding: 60px 70px 0px 70px;
		}
		&:hover {
			background: rgba(51, 199, 88, 0.493);
			box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
		}
	}

	&__title {
		font-family: "Helvetica";
		font-style: normal;
		font-weight: 900;
		font-size: 10px;
		line-height: 25px;
		padding: 0px 15px;
		letter-spacing: 1.25px;
		text-transform: uppercase;
		color: #ffffff;
		border-radius: 5px;
		background: #000000;
		mix-blend-mode: normal;
		opacity: 0.3;
		margin-bottom: 65px;
		text-align: center;
	}

	&__date {
		font-family: "Helvetica";
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 30px;
		color: #ffffff;
		text-align: center;
		margin-bottom: 25px;
	}

	&__text {
		display: flex;
		font-family: "Helvetica";
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 40px;
		text-align: center;
		color: #ffffff;
		margin-bottom: 45px;
	}

	&__name {
		font-family: "Helvetica";
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 30px;
		color: #ffffff;
		text-align: center;
		margin-bottom: 60px;
	}

	&__info {
		display: flex;
		flex-direction: row;
		margin-bottom: 60px;
		gap: 25px;
	}

	&__view {
		display: flex;
		flex-direction: row;
		gap: 15px;
	}

	&__image1 {
	}

	&__score1 {
		font-family: "Helvetica";
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 30px;
		color: #ffffff;
	}

	&__comment {
		display: flex;
		flex-direction: row;
		gap: 15px;
	}

	&__image2 {
	}

	&__score2 {
		font-family: "Helvetica";
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 30px;
		color: #ffffff;
	}
}
.healthy {
	background: url("../img/healthy/placeholder.jpg") center/cover no-repeat;

	&__container {
	}

	&__header {
		border-bottom: 2px solid rgba(255, 255, 255, 0.1);
		margin-bottom: 80px;
	}

	&__cont {
		max-width: 1140px;
		margin: 0px auto;
		padding: 33px 15px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		@media (max-width: 600px) {
			max-width: 1140px;
			margin: 0px auto;
			padding: 33px 15px;
			display: flex;
			flex-direction: column;
			gap: 30px;
			align-items: center;
		}
	}

	&__logo {
		display: flex;
		flex-direction: row;
		gap: 9px;
	}

	&__image1 {
		width: 25px;
		height: 24px;
	}

	&__image2 {
		width: 173.16px;
		height: 10.46px;
		margin-top: 10px;
	}

	&__navi {
	}

	&__items {
		display: flex;
		flex-direction: row;
		gap: 45px;
		align-items: flex-end;
		flex-wrap: wrap;
		@media (max-width: 360px) {
			display: flex;
			flex-direction: column;
			gap: 45px;
			align-items: center;
			flex-wrap: wrap;
		}
	}

	&__item {
	}

	&__link {
		font-family: "Helvetica";
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 0px;
		color: #ffffff;
		&:hover {
			color: #34c759;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
	}

	&__title {
		margin-bottom: 16px;
	}

	&__text1 {
		font-family: "Helvetica";
		font-size: 72px;
		line-height: 84px;
		text-align: center;
		letter-spacing: 0.1em;
		text-transform: capitalize;
		color: #ffffff;
		@media (max-width: 440px) {
			font-family: "Helvetica";
			font-size: 50px;
			line-height: 40px;
			text-align: center;
			letter-spacing: 0.1em;
			text-transform: capitalize;
			color: #ffffff;
		}
	}
	&__text1 span {
		font-weight: 700;
	}
	&__sub-title {
		margin-bottom: 60px;
	}

	&__text2 {
		font-family: "Helvetica";
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 26px;
		text-align: center;
		letter-spacing: -0.2px;
		color: #ffffff;
		mix-blend-mode: normal;
		opacity: 0.7;
	}

	&__button {
		display: inline-block;
		text-align: center;
		margin-bottom: 100px;
	}

	&__link2 {
		padding: 25px 57px;
		font-family: "Helvetica";
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		letter-spacing: 0.2em;
		color: #1a1a1a;
		align-items: center;
		background-color: #34c759;
		border-radius: 43px;
		&:hover {
			background-color: #ffffff;
		}
	}

	&__contacts {
	}
}
.contacts {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 160px;
	@media (max-width: 600px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
		margin-bottom: 60px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__image {
		width: 18px;
		height: 18px;
		margin-bottom: 16px;
	}

	&__title {
		font-family: "Helvetica";
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 30px;
		text-align: center;
		color: #ffffff;
	}

	&__sub-title {
		font-family: "Helvetica";
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
		display: flex;
		align-items: center;
		color: #ffffff;
		mix-blend-mode: normal;
		opacity: 0.5;
	}
}
.work {
	&__container {
	}

	&__main-title {
		padding: 60px 0px;
	}

	&__main-text {
		position: relative;
		font-family: "Helvetica";
		font-style: normal;
		font-weight: 900;
		font-size: 100px;
		line-height: 150px;
		text-align: center;
		letter-spacing: 0.2em;
		color: #303030;
		@media (max-width: 600px) {
			position: relative;
			font-family: "Helvetica";
			font-style: normal;
			font-weight: 900;
			font-size: 60px;
			line-height: 100px;
			text-align: center;
			letter-spacing: 0.2em;
			color: #303030;
		}
		&::before {
			content: "how it works";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 25px;
			left: 0px;
			font-family: "Helvetica";
			font-style: normal;
			font-weight: 400;
			font-size: 36px;
			line-height: 90px;
			text-align: center;
			letter-spacing: 0.2em;
			color: #d9d9d9;
			@media (max-width: 600px) {
				content: "how it works";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 20px;
				left: 0px;
				font-family: "Helvetica";
				font-style: normal;
				font-weight: 400;
				font-size: 24px;
				line-height: 50px;
				text-align: center;
				letter-spacing: 0.2em;
				color: #d9d9d9;
			}
		}
		&::after {
			content: "";
			width: 60px;
			height: 2px;
			position: absolute;
			top: 140px;
			right: 48%;
			background-color: #34c759;
			@media (max-width: 600px) {
				content: "";
				width: 50px;
				height: 2px;
				position: absolute;
				top: 90px;
				right: 47%;
				background-color: #34c759;
			}
		}
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		row-gap: 30px;
		margin: 0px -15px;
	}

	&__item {
		padding: 0px 15px;
		flex: 1 1 25%;
		min-width: 255px;
	}

	&__block {
		display: flex;
		height: 100%;
		flex-direction: column;
		border-radius: 6px;
		overflow: hidden;
	}

	&__body {
		flex: 1 1 auto;
		display: flex;
		padding: 24px;
		flex-direction: column;
		background: #252525;
		&:hover {
			background: #34c759;
		}
		&:hover .work__title {
			color: #191919;
		}
		&:hover .work__text {
			color: #191919;
		}
		&:hover .work__title::after {
			background-color: #191919;
		}
	}

	&__title {
		position: relative;
		font-family: "Helvetica";
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		line-height: 26px;
		letter-spacing: -0.275px;
		text-transform: capitalize;
		color: #ffffff;
		margin-bottom: 45px;
		&::after {
			content: "";
			width: 60px;
			height: 2px;
			position: absolute;
			top: 45px;
			left: 0px;
			background-color: #34c759;
		}
	}

	&__text {
		font-family: "Helvetica";
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 18px;
		letter-spacing: -0.1625px;
		color: rgba(255, 255, 255, 0.5);
		margin-bottom: 35px;
	}
}
